PORT=3000
ADMIN_TOKEN=
API_FOOTBALL_KEY=your_api_football_key
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io
FOOTBALL_API_KEY=your_api_football_key
FOOTBALL_API_HOST=v3.football.api-sports.io
REDIS_URL=redis://localhost:6379
TRUST_PROXY=1
ALLOWED_ORIGINS=*
ALLOWED_EXTENSION_IDS=
SUPPORTED_LEAGUE_IDS=
FEATURED_LEAGUE_IDS=
LIVE_CACHE_TTL_SECONDS=15
UPCOMING_CACHE_TTL_SECONDS=120
FINISHED_CACHE_TTL_SECONDS=3600
STANDINGS_CACHE_TTL_SECONDS=3600
STATISTICS_CACHE_TTL_SECONDS=60
INJURIES_CACHE_TTL_SECONDS=14400
EVENTS_CACHE_TTL_SECONDS=60
LEAGUE_CONTEXT_LIVE_CACHE_TTL_SECONDS=60
LEAGUE_CONTEXT_UPCOMING_CACHE_TTL_SECONDS=300
LEAGUE_CONTEXT_FINISHED_CACHE_TTL_SECONDS=3600
LEAGUE_CONTEXT_MAX_FIXTURES=9
LEAGUE_CONTEXT_SAME_WINDOW_MINUTES=30
LINEUPS_PENDING_CACHE_TTL_SECONDS=300
LINEUPS_CONFIRMED_CACHE_TTL_SECONDS=21600
PREMATCH_SLOW_WINDOW_MINUTES=360
PREMATCH_MEDIUM_WINDOW_MINUTES=90
PREMATCH_FAST_WINDOW_MINUTES=40
PREMATCH_SLOW_CACHE_TTL_SECONDS=3600
PREMATCH_MEDIUM_CACHE_TTL_SECONDS=900
PREMATCH_FAST_CACHE_TTL_SECONDS=180
STATE_CACHE_TTL_SECONDS=21600
REQUEST_TIMEOUT_MS=5000
BETA_MODE_ENABLED=true
BILLING_CURRENCY=USD
PRO_MONTHLY_PRICE_USD=5.99
EARLY_BIRD_PRO_MONTHLY_PRICE_USD=3.99
EARLY_BIRD_OFFER_ENABLED=true
EARLY_BIRD_OFFER_MAX_CLAIMS=100
SUPPORT_EMAIL=support@footanalysis.com
MARKETING_SITE_URL=
POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_PROJECT_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_NORMAL_PRICE_ID=
STRIPE_EARLY_PRICE_ID=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
RATE_LIMIT_ENABLED=true
RATE_LIMIT_WINDOW_SECONDS=60
RATE_LIMIT_FREE_READS_PER_WINDOW=120
RATE_LIMIT_PRO_READS_PER_WINDOW=600
RATE_LIMIT_FREE_ANALYTICS_PER_WINDOW=60
RATE_LIMIT_PRO_ANALYTICS_PER_WINDOW=300
RATE_LIMIT_ADMIN_PER_WINDOW=30
